{
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "9",
          "chrome": "48",
          "firefox": "3.6",
          "android": "4.4",
          "ios": "5.1",
          "safari": "5.1"
        },
        "useBuiltIns": "entry"
      }
    ]
  ]
}

